docker {
    enabled = true
}


aws {
    accessKey = 'F'
    secretKey = 'F'
    region = 'us-east-1'
}



process {
            withName: 'spades' {
                executor = 'awsbatch'
                container = 'cautree/spades:latest'
                memory = 60.GB
                queue = 'batch-nextflow-queue-500Gb'
                
            }
         }
