aws {
    accessKey = 'F'
    secretKey = 'F'
    region = 'us-east-1'
}




process {
    withName: downsample {
      memory = '60.0G'
      cpus = 16
      executor = 'awsbatch'
      queue = 'batch-nextflow-queue-500Gb'
      container = '512431263418.dkr.ecr.us-east-1.amazonaws.com/seqtk'
  }
   
    withName: downsample_bbtools {
      memory = '60.0G'
      cpus = 16
      executor = 'awsbatch'
      queue = 'batch-nextflow-queue-500Gb'
      container = '512431263418.dkr.ecr.us-east-1.amazonaws.com/bbmerge'
      
 }
  
    withName: bwa {
      memory = '60.0G'
      cpus = 16
      executor = 'awsbatch'
      queue = 'batch-nextflow-queue-500Gb'
      container = '512431263418.dkr.ecr.us-east-1.amazonaws.com/bwa-samtools'
  }
  
  withName: index_mdbam {
      memory = '30.0G'
      cpus = 8
      executor = 'awsbatch'
      queue = 'batch-nextflow-queue-500Gb'
      container = '512431263418.dkr.ecr.us-east-1.amazonaws.com/bwa-samtools'
  }
  
    withName: markDuplicates {
      memory = '60.0G'
      cpus = 16
      executor = 'awsbatch'
      queue = 'batch-nextflow-queue-500Gb'
      container = '512431263418.dkr.ecr.us-east-1.amazonaws.com/picard'
  }
    withName: picardMetrics {
      memory = '60.0G'
      cpus = 16
      executor = 'awsbatch'
      queue = 'batch-nextflow-queue-500Gb'
      container = '512431263418.dkr.ecr.us-east-1.amazonaws.com/picard'
  }
    withName: summarize {
      memory = '16.0G'
      cpus = 16
      executor = 'awsbatch'
      queue = 'batch-nextflow-queue-500Gb'
      container = '512431263418.dkr.ecr.us-east-1.amazonaws.com/python-pandas'
  }
    withName: counts {
      memory = '4.0G'
      cpus = 4
      executor = 'awsbatch'
      queue = 'batch-nextflow-queue-500Gb'
      container = '512431263418.dkr.ecr.us-east-1.amazonaws.com/bwa-samtools'
  }
  
  withName: summarizeArtifacts {
      memory = '4.0G'
      cpus = 4
      executor = 'awsbatch'
      queue = 'batch-nextflow-queue-500Gb'
      container = '512431263418.dkr.ecr.us-east-1.amazonaws.com/python-pandas'
  }
  
  
  withName: MOSDEPTH {
      memory = '30.0G'
      cpus = 8
      executor = 'awsbatch'
      queue = 'batch-nextflow-queue-500Gb'
      container = 'cautree/mosdepth:latest'
  }
  
  
   withName: fastqc {
      memory = '16.0G'
      cpus = 8
      executor = 'awsbatch'
      queue = 'batch-nextflow-queue-500Gb'
      container = 'quay.io/fhcrc-microbiome/fastqc:latest'
  }
  
  
     withName: MULTIQC {
      memory = '8.0G'
      cpus = 4
      executor = 'awsbatch'
      queue = 'batch-nextflow-queue-500Gb'
      container = 'cautree/multiqc:latest'
     
     }
  
  
}

