aws {
    accessKey = 'd'
    secretKey = 'd'
    region = 'us-east-1'
}

process {
    withName: downsample {
      memory = '60.0G'
      cpus = 16
      executor = 'awsbatch'
      queue = 'batch-nextflow-queue-500Gb'
      container = '512431263418.dkr.ecr.us-east-1.amazonaws.com/seqtk'
  }
    withName: bwa {
      memory = '16.0G'
      cpus = 16
      executor = 'awsbatch'
      queue = 'batch-nextflow-queue-500Gb'
      container = '512431263418.dkr.ecr.us-east-1.amazonaws.com/bwa-samtools'
  }
    withName: markDuplicates {
      memory = '8.0G'
      cpus = 8
      executor = 'awsbatch'
      queue = 'batch-nextflow-queue-500Gb'
      container = '512431263418.dkr.ecr.us-east-1.amazonaws.com/picard'
  }
    withName: picardMetrics {
      memory = '8.0G'
      cpus = 8
      executor = 'awsbatch'
      queue = 'batch-nextflow-queue-500Gb'
      container = '512431263418.dkr.ecr.us-east-1.amazonaws.com/picard'
  }
    withName: summarize {
      memory = '16.0G'
      cpus = 16
      executor = 'awsbatch'
      queue = 'batch-nextflow-queue-500Gb'
      container = '512431263418.dkr.ecr.us-east-1.amazonaws.com/python-pandas'
  }
    withName: counts {
      memory = '4.0G'
      cpus = 4
      executor = 'awsbatch'
      queue = 'batch-nextflow-queue-500Gb'
      container = '512431263418.dkr.ecr.us-east-1.amazonaws.com/bwa-samtools'
  }
  
  withName: summarizeArtifacts {
      memory = '4.0G'
      cpus = 4
      executor = 'awsbatch'
      queue = 'batch-nextflow-queue-500Gb'
      container = '512431263418.dkr.ecr.us-east-1.amazonaws.com/python-pandas'
  }
    withName: summarizeCounts {
      memory = '60.0G'
      cpus = 16
      executor = 'awsbatch'
      queue = 'batch-nextflow-queue-500Gb'
      container = '512431263418.dkr.ecr.us-east-1.amazonaws.com/python-pandas'
  }
}
