aws {
    accessKey = 'F'
    secretKey = 'F'
    region = 'us-east-1'
}

docker {
    enabled = true
    
}



process {
    
    
    withName: vcf_sample_name_change {
      memory = '15.0G'
      cpus = 4
      container = 'quay.io/biocontainers/bcftools:1.21--h3a4d415_1'
      } 
      
    
    
    
      
    withName: gatk_concordance {
      memory = '15.0G'
      cpus = 6
      container = 'broadinstitute/gatk:latest'
      } 
      
    withName: gatk_index {
      memory = '15.0G'
      cpus = 6
      container = 'broadinstitute/gatk:latest'
      } 
    
    withName: get_c1_vcf {
      memory = '15.0G'
      cpus = 6
      container = 'quay.io/biocontainers/bcftools:1.21--h3a4d415_1'
      } 
 
    withName: index_vcf {
    memory = '15.0G'
      cpus = 6
    container = "stephenturner/tabix:latest"
    }


}

