profiles {
    docker {
        aws {
            accessKey = 'F'
            secretKey = 'F'
            region = 'us-east-2'
        }

        process {
        
            withName:DOWNSAMPLE {
                container = 'cautree/seqtk'
                memory = '7GB'
                cpus = 2
            }
            withName:FLYE_ASSEMBLE {
                container = 'cautree/flye:latest'
                memory = '30GB'
                cpus = 8
            }
            withName:MINIMAP2 {
                container = 'cautree/minimap2'
                memory = '7GB'
                cpus = 2
            }
           withName:BAM_READ_COUNT {
                container = 'cautree/fq_assemble'
            }
            withName:PLANNOTATE {
                container = 'cautree/fq_assemble'
            }
            withName:FIX_START {
                container = 'cautree/fq_assemble'
            }
            withName:CIRCLATOR_MINIMUS2 {
                container = 'cautree/circlator'
            }
            withName:SUMMARIZE {
                container = 'cautree/python'
            }
            withName:ANALYZE_BAM_READ_COUNT {
                container = 'rocker/tidyverse:latest'
            }
            withName:PLASMIDMAP {
                container = 'rocker/tidyverse:latest'
            } 
            
        }

        docker.enabled = true
        singularity.enabled = false
        executor = 'local'  // Change to 'slurm' or 'awsbatch' if needed
    }
}
