aws {
    accessKey = 'F'
    secretKey = 'F'
    region = 'us-east-2'
}

docker {
    enabled = true
    
}
aws.batch.cliPath = '/home/ec2-user/miniconda/bin/aws'

process {

withName: simulate_bam {
      memory = '7.0G'
      queue = 'spot_low_priority_m5large'
      cpus = 2
      executor = 'awsbatch'
      container = 'cautree/samtools_bc:latest'
      } 

withName: get_chr22 {
      memory = '7.0G'
      queue = 'spot_low_priority_m5large'
      cpus = 2
      executor = 'awsbatch'
      container = '512431263418.dkr.ecr.us-east-1.amazonaws.com/bwa-samtools'
      }

withName: create_samplesheet {
      memory = '6.0G'
      queue = 'spot_low_priority_m5large'
      cpus = 2
      executor = 'awsbatch'
      container = '512431263418.dkr.ecr.us-east-1.amazonaws.com/bwa-samtools'
      }

 }
