profiles {
    docker {
        process {
            withName:GLIMPSE2_CHUNK {
                container = 'quay.io/biocontainers/glimpse-bio:2.0.1--ha5d29c5_3'
                memory = '8GB'
                cpus = 4
            }
            withName:GLIMPSE2_SPLIT {
                container = 'quay.io/biocontainers/glimpse-bio:2.0.1--ha5d29c5_3'
                memory = '4GB'
                cpus = 2
            }
            withName:GLIMPSE2_PHASE {
                container = 'quay.io/biocontainers/glimpse-bio:2.0.1--ha5d29c5_3'
                memory = '8GB'
                cpus = 4
            }
            withName:GLIMPSE2_LIGATE {
                container = 'quay.io/biocontainers/glimpse-bio:2.0.1--ha5d29c5_3'
                memory = '4GB'
                cpus = 2
            }
            withName:GLIMPSE2_CONCORDANCE {
                container = 'quay.io/biocontainers/glimpse-bio:2.0.1--ha5d29c5_3'
                memory = '8GB'
                cpus = 4
            }
             withName: GATK_CONCORDANCE {
                memory = '4.0G'
                cpus = 4
                container = 'broadinstitute/gatk:latest'
            } 
        }

        docker.enabled = true
        singularity.enabled = false
        executor = 'local' // Change to 'slurm' or 'awsbatch' if needed
    }
}

// AWS Batch Configuration (if needed)
aws {
    batch {
        cliPath = '/home/ec2-user/miniconda/bin/aws'
        queue = 'spot_low_priority_m5xlarge'
    }
}
