aws {
    accessKey = 'F'
    secretKey = 'F'
    region = 'us-east-2'

}

docker {
    enabled = true
}

aws.batch.cliPath = '/home/ec2-user/miniconda/bin/aws'

process {

    withName: bscp {
      memory = '14.0G'
      cpus = 4
      executor = 'awsbatch'
      queue = 'spot_low_priority'
      container = '512431263418.dkr.ecr.us-east-1.amazonaws.com/bcl2fq'
    }
}