aws {
    accessKey = 'F'
    secretKey = 'F'
    region = 'us-east-1'
}


docker {
    enabled = true
}


process {
    
  
    
    withName: collect_wgs {
      memory = '60.0G'
      cpus = 16
      executor = 'local'
      queue = 'batch-nextflow-queue-500Gb'
      container = '512431263418.dkr.ecr.us-east-1.amazonaws.com/picard'
  }
    
  
}

