aws {
    accessKey = ''
    secretKey = ''
    region = 'us-east-1'
}

docker {
    enabled = true
    
}



process {
    
    
    
      
    
    withName: GLIMPSE_CHUNK {
      memory = '15.0G'
      cpus = 6
      container = 'quay.io/biocontainers/glimpse-bio:1.1.1--h0303221_3'
      } 
      
    withName: GLIMPSE_PHASE {
      memory = '15.0G'
      cpus = 6
      container = 'quay.io/biocontainers/glimpse-bio:1.1.1--h0303221_3'
      } 
    
    
      
    withName: GLIMPSE_LIGATE {
      memory = '15.0G'
      cpus = 6
      container = 'quay.io/biocontainers/glimpse-bio:1.1.1--h0303221_3'
      } 
      
    withName: GLIMPSE_SAMPLE {
      memory = '15.0G'
      cpus = 6
      container = 'quay.io/biocontainers/glimpse-bio:1.1.1--h0303221_3'
      } 
      
    
    
      
    withName: CONCORDANCE {
      memory = '15.0G'
      cpus = 6
      container = 'broadinstitute/gatk:latest'
      } 
      
      
  withName: REF_DICT {
      memory = '15.0G'
      cpus = 8
      container = '512431263418.dkr.ecr.us-east-1.amazonaws.com/picard'
      } 
      
  
      
  
   
     
      
}
