aws {
    accessKey = ''
    secretKey = ''
    region = 'us-east-1'
}

docker {
    enabled = true
    
}



process {
    withName: MPILEUP {
      memory = '15.0G'
      cpus = 8
      container = 'cautree/bcftools:latest'
  }
    
    withName: SORT_INDEX {
      memory = '15.0G'
      cpus = 8
      container = '512431263418.dkr.ecr.us-east-1.amazonaws.com/bwa-samtools'
      }
      
    
    withName: GLIMPSE_CHUNK {
      memory = '15.0G'
      cpus = 8
      container = 'quay.io/biocontainers/glimpse-bio:1.1.1--h0303221_3'
      } 
      
    withName: GLIMPSE_PHASE {
      memory = '15.0G'
      cpus = 8
      container = 'quay.io/biocontainers/glimpse-bio:1.1.1--h0303221_3'
      } 
    
    withName: INDEX_IMPUTED_BCF {
      memory = '15.0G'
      cpus = 8
      container = 'cautree/bcftools:latest'
      } 
      
      
    withName: GLIMPSE_LIGATE {
      memory = '15.0G'
      cpus = 8
      container = 'quay.io/biocontainers/glimpse-bio:1.1.1--h0303221_3'
      } 
      
    withName: GLIMPSE_SAMPLE {
      memory = '15.0G'
      cpus = 8
      container = 'quay.io/biocontainers/glimpse-bio:1.1.1--h0303221_3'
      } 
      
    withName: INDEX_MERGED_BCF {
      memory = '15.0G'
      cpus = 8
      container = 'cautree/bcftools:latest'
      } 
      
    withName: INDEX_SAMPLED_BCF {
      memory = '15.0G'
      cpus = 8
      container = 'cautree/bcftools:latest'
      } 
      
    withName: CONCORDANCE {
      memory = '15.0G'
      cpus = 8
      container = 'broadinstitute/gatk:latest'
      } 
      
      
  withName: REF_DICT {
      memory = '15.0G'
      cpus = 8
      container = '512431263418.dkr.ecr.us-east-1.amazonaws.com/picard'
      } 
      
  
      
  withName: SNPSIFT {
      memory = '15.0G'
      cpus = 8
      container = 'quay.io/biocontainers/snpsift:5.1d--hdfd78af_0'
      } 
      
      
   withName: GET_SNP_VCF {
      memory = '15.0G'
      cpus = 8
      container = 'cautree/bcftools:latest'
      } 
         
    withName: ZIP_INDEX_VCF {
      memory = '15.0G'
      cpus = 8
      container = 'cautree/bcftools:latest'
      } 
      
      
    
           
    withName: GENOTYPE_CONCORDANCE {
      memory = '15.0G'
      cpus = 8
      container = '512431263418.dkr.ecr.us-east-1.amazonaws.com/picard'
      }   
      
      
    withName: MIN_1_NON_REF {
      memory = '15.0G'
      cpus = 8
      container = 'cautree/bcftools:latest'
      } 
      
    withName: INDEX_VCF {
      memory = '15.0G'
      cpus = 8
      container = 'quay.io/biocontainers/tabix:1.11--hdfd78af_0'
      } 
      
   withName: DOWN_SAMPLE {
      memory = '15.0G'
      cpus = 8
      container = '512431263418.dkr.ecr.us-east-1.amazonaws.com/picard'
      }    
     
      
}
