aws {
    accessKey = '***'
    secretKey = '*****'
    region = 'us-east-1'

    executor {
            submitter {
                rateLimit = '20/s'
                autoThrottle = true
            }
    }
}

docker.enabled = true

process {
    withName: samplesheet {
      memory = '2.0G'
      cpus = 1
      executor = 'local'
      queue = 'batch-nextflow-queue-500Gb'
      container = '512431263418.dkr.ecr.us-east-1.amazonaws.com/python-pandas'
    }
    withName: bscp {
      memory = '50.0G'
      cpus = 15
      executor = 'local'
      queue = 'batch-nextflow-queue-500Gb'
      container = '512431263418.dkr.ecr.us-east-1.amazonaws.com/bcl2fq'
    }
    withName: bcl2fq {
      memory = '60.0G'
      cpus = 16
      executor = 'local'
      queue = 'batch-nextflow-queue-500Gb'
      container = '512431263418.dkr.ecr.us-east-1.amazonaws.com/bcl2fq'
    }
    
}


