aws {
    accessKey = 'J'
    secretKey = 'J'
    region = 'us-east-2'
}


docker {
    enabled = true
}


process {
    withName: INDEX_BAM {
      memory = '60.0G'
      cpus = 16
      executor = 'local'
      container = '512431263418.dkr.ecr.us-east-1.amazonaws.com/bwa-samtools'
      
  }
    withName: MOSDEPTH {
      memory = '60.0G'
      cpus = 16
      executor = 'local'
      container = 'quay.io/biocontainers/mosdepth:0.3.10--h4e814b3_1'
  }
  
     withName: MULTIQC {
      memory = '8.0G'
      cpus = 4
      executor = 'local'
      container = 'cautree/multiqc:latest'
     
     }
    
}

